<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recMall.mall.mapper.BookCategoryRelMapper">
    
    <resultMap type="BookCategoryRel" id="BookCategoryRelResult">
        <result property="categoryId"    column="category_id"    />
        <result property="bookId"    column="book_id"    />
    </resultMap>

    <sql id="selectBookCategoryRelVo">
        select category_id, book_id from book_category_rel
    </sql>

    <select id="selectBookCategoryRelList" parameterType="BookCategoryRel" resultMap="BookCategoryRelResult">
        <include refid="selectBookCategoryRelVo"/>
        <where>  
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="bookId != null "> and book_id = #{bookId}</if>
        </where>
    </select>
    
    <select id="selectBookCategoryRelByCategoryId" parameterType="Long" resultMap="BookCategoryRelResult">
        <include refid="selectBookCategoryRelVo"/>
        where category_id = #{categoryId}
    </select>

    <insert id="insertBookCategoryRel" parameterType="BookCategoryRel">
        insert into book_category_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">category_id,</if>
            <if test="bookId != null">book_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">#{categoryId},</if>
            <if test="bookId != null">#{bookId},</if>
         </trim>
    </insert>

    <update id="updateBookCategoryRel" parameterType="BookCategoryRel">
        update book_category_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="bookId != null">book_id = #{bookId},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteBookCategoryRelByCategoryId" parameterType="Long">
        delete from book_category_rel where category_id = #{categoryId}
    </delete>

    <delete id="deleteBookCategoryRelByCategoryIds" parameterType="String">
        delete from book_category_rel where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>