<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recMall.mall.mapper.BookRatingStatsMapper">
    
    <resultMap type="BookRatingStats" id="BookRatingStatsResult">
        <result property="bookId"    column="book_id"    />
        <result property="avgRating"    column="avg_rating"    />
        <result property="stdPopulation"    column="std_population"    />
        <result property="stdDeviation"    column="std_deviation"    />
        <result property="ratingCount"    column="rating_count"    />
    </resultMap>

    <sql id="selectBookRatingStatsVo">
        select book_id, avg_rating, std_population, std_deviation, rating_count from book_rating_stats
    </sql>

    <select id="selectBookRatingStatsList" parameterType="BookRatingStats" resultMap="BookRatingStatsResult">
        <include refid="selectBookRatingStatsVo"/>
        <where>  
            <if test="avgRating != null "> and avg_rating = #{avgRating}</if>
            <if test="stdPopulation != null "> and std_population = #{stdPopulation}</if>
            <if test="stdDeviation != null "> and std_deviation = #{stdDeviation}</if>
            <if test="ratingCount != null  and ratingCount != ''"> and rating_count = #{ratingCount}</if>
        </where>
    </select>
    
    <select id="selectBookRatingStatsByBookId" parameterType="String" resultMap="BookRatingStatsResult">
        <include refid="selectBookRatingStatsVo"/>
        where book_id = #{bookId}
    </select>

    <insert id="insertBookRatingStats" parameterType="BookRatingStats">
        insert into book_rating_stats
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">book_id,</if>
            <if test="avgRating != null">avg_rating,</if>
            <if test="stdPopulation != null">std_population,</if>
            <if test="stdDeviation != null">std_deviation,</if>
            <if test="ratingCount != null and ratingCount != ''">rating_count,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookId != null">#{bookId},</if>
            <if test="avgRating != null">#{avgRating},</if>
            <if test="stdPopulation != null">#{stdPopulation},</if>
            <if test="stdDeviation != null">#{stdDeviation},</if>
            <if test="ratingCount != null and ratingCount != ''">#{ratingCount},</if>
         </trim>
    </insert>

    <update id="updateBookRatingStats" parameterType="BookRatingStats">
        update book_rating_stats
        <trim prefix="SET" suffixOverrides=",">
            <if test="avgRating != null">avg_rating = #{avgRating},</if>
            <if test="stdPopulation != null">std_population = #{stdPopulation},</if>
            <if test="stdDeviation != null">std_deviation = #{stdDeviation},</if>
            <if test="ratingCount != null and ratingCount != ''">rating_count = #{ratingCount},</if>
        </trim>
        where book_id = #{bookId}
    </update>

    <delete id="deleteBookRatingStatsByBookId" parameterType="String">
        delete from book_rating_stats where book_id = #{bookId}
    </delete>

    <delete id="deleteBookRatingStatsByBookIds" parameterType="String">
        delete from book_rating_stats where book_id in 
        <foreach item="bookId" collection="array" open="(" separator="," close=")">
            #{bookId}
        </foreach>
    </delete>
</mapper>