<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recMall.mall.mapper.BookReviewMapper">
    
    <resultMap type="BookReview" id="BookReviewResult">
        <result property="userId"    column="user_id"    />
        <result property="bookId"    column="book_id"    />
        <result property="reviewId"    column="review_id"    />
        <result property="rating"    column="rating"    />
        <result property="content"    column="content"    />
        <result property="dateAdded"    column="date_added"    />
        <result property="dateUpdated"    column="date_updated"    />
        <result property="readAt"    column="read_at"    />
        <result property="startedAt"    column="started_at"    />
        <result property="helpfulVotes"    column="helpful_votes"    />
        <result property="commentCount"    column="comment_count"    />
    </resultMap>

    <sql id="selectBookReviewVo">
        select user_id, book_id, review_id, rating, content, date_added, date_updated, read_at, started_at, helpful_votes, comment_count from book_review
    </sql>

    <select id="selectBookReviewList" parameterType="BookReview" resultMap="BookReviewResult">
        <include refid="selectBookReviewVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="bookId != null  and bookId != ''"> and book_id = #{bookId}</if>
            <if test="rating != null  and rating != ''"> and rating = #{rating}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="dateAdded != null  and dateAdded != ''"> and date_added = #{dateAdded}</if>
            <if test="dateUpdated != null  and dateUpdated != ''"> and date_updated = #{dateUpdated}</if>
            <if test="readAt != null  and readAt != ''"> and read_at = #{readAt}</if>
            <if test="startedAt != null  and startedAt != ''"> and started_at = #{startedAt}</if>
            <if test="helpfulVotes != null  and helpfulVotes != ''"> and helpful_votes = #{helpfulVotes}</if>
            <if test="commentCount != null  and commentCount != ''"> and comment_count = #{commentCount}</if>
        </where>
    </select>
    
    <select id="selectBookReviewByReviewId" parameterType="String" resultMap="BookReviewResult">
        <include refid="selectBookReviewVo"/>
        where review_id = #{reviewId}
    </select>

    <insert id="insertBookReview" parameterType="BookReview" useGeneratedKeys="true" keyProperty="reviewId">
        insert into book_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="bookId != null and bookId != ''">book_id,</if>
            <if test="rating != null and rating != ''">rating,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="dateAdded != null">date_added,</if>
            <if test="dateUpdated != null">date_updated,</if>
            <if test="readAt != null">read_at,</if>
            <if test="startedAt != null">started_at,</if>
            <if test="helpfulVotes != null">helpful_votes,</if>
            <if test="commentCount != null">comment_count,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="bookId != null and bookId != ''">#{bookId},</if>
            <if test="rating != null and rating != ''">#{rating},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="dateAdded != null">#{dateAdded},</if>
            <if test="dateUpdated != null">#{dateUpdated},</if>
            <if test="readAt != null">#{readAt},</if>
            <if test="startedAt != null">#{startedAt},</if>
            <if test="helpfulVotes != null">#{helpfulVotes},</if>
            <if test="commentCount != null">#{commentCount},</if>
         </trim>
    </insert>

    <update id="updateBookReview" parameterType="BookReview">
        update book_review
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="bookId != null and bookId != ''">book_id = #{bookId},</if>
            <if test="rating != null and rating != ''">rating = #{rating},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="dateAdded != null">date_added = #{dateAdded},</if>
            <if test="dateUpdated != null">date_updated = #{dateUpdated},</if>
            <if test="readAt != null">read_at = #{readAt},</if>
            <if test="startedAt != null">started_at = #{startedAt},</if>
            <if test="helpfulVotes != null">helpful_votes = #{helpfulVotes},</if>
            <if test="commentCount != null">comment_count = #{commentCount},</if>
        </trim>
        where review_id = #{reviewId}
    </update>

    <delete id="deleteBookReviewByReviewId" parameterType="String">
        delete from book_review where review_id = #{reviewId}
    </delete>

    <delete id="deleteBookReviewByReviewIds" parameterType="String">
        delete from book_review where review_id in 
        <foreach item="reviewId" collection="array" open="(" separator="," close=")">
            #{reviewId}
        </foreach>
    </delete>
</mapper>