<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recMall.mall.mapper.UserTagMapper">
    
    <resultMap type="UserTag" id="UserTagResult">
        <result property="tagId"    column="tag_id"    />
        <result property="nameZh"    column="name_zh"    />
        <result property="nameEn"    column="name_en"    />
    </resultMap>

    <sql id="selectUserTagVo">
        select tag_id, name_zh, name_en from user_tag
    </sql>

    <select id="selectUserTagList" parameterType="UserTag" resultMap="UserTagResult">
        <include refid="selectUserTagVo"/>
        <where>  
            <if test="nameZh != null  and nameZh != ''"> and name_zh = #{nameZh}</if>
            <if test="nameEn != null  and nameEn != ''"> and name_en = #{nameEn}</if>
        </where>
    </select>
    
    <select id="selectUserTagByTagId" parameterType="String" resultMap="UserTagResult">
        <include refid="selectUserTagVo"/>
        where tag_id = #{tagId}
    </select>

    <insert id="insertUserTag" parameterType="UserTag">
        insert into user_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagId != null">tag_id,</if>
            <if test="nameZh != null and nameZh != ''">name_zh,</if>
            <if test="nameEn != null and nameEn != ''">name_en,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tagId != null">#{tagId},</if>
            <if test="nameZh != null and nameZh != ''">#{nameZh},</if>
            <if test="nameEn != null and nameEn != ''">#{nameEn},</if>
         </trim>
    </insert>

    <update id="updateUserTag" parameterType="UserTag">
        update user_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="nameZh != null and nameZh != ''">name_zh = #{nameZh},</if>
            <if test="nameEn != null and nameEn != ''">name_en = #{nameEn},</if>
        </trim>
        where tag_id = #{tagId}
    </update>

    <delete id="deleteUserTagByTagId" parameterType="String">
        delete from user_tag where tag_id = #{tagId}
    </delete>

    <delete id="deleteUserTagByTagIds" parameterType="String">
        delete from user_tag where tag_id in 
        <foreach item="tagId" collection="array" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </delete>
</mapper>